@font-face {
    font-family: 'Apple Chancery';
    src: local('Apple Chancery'),
         url('../assets/fonts/Apple Chancery.ttf') format('truetype'), /* Super Modern Browsers */
}

@font-face {
    font-family: 'Snell Roundhand2';
    src: local('Snell Roundhand2'),
         url('../assets/fonts/snell-roundhand2.otf') format('truetype'), /* Super Modern Browsers */
}

body {
    font-family: 'Inter' !important;
    background: #ffffff;
}

.swiper {
    color: white;
}

.loadingScreenWrapper {
    transform: unset !important;
}